/*this CSS rule below adds old browser support for HTML5*/
header, nav, main, footer { display:block; }
* { box-sizing: border-box; }
body { background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(background.gif);
}
header { background-color: #D2B48C; 
    height: 150px;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
}
h1 { padding-top: 45px;
    padding-left:220px;
    font-size: 3em;
}
h4 { background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    text-transform: uppercase;
    border-bottom: 2px solid #221811; /*Same as border-top in <footer>*/
    padding-bottom: 0;
    clear: left;
}
nav { float: left;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
}
nav a { text-decoration: none; }
nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }
nav ul { list-style-type: none; /*Removes list markers for <ul>*/
    padding-left: 0;
}
main { padding: 0 0 2em 0; /*The order: top, right, bottom, left (just like a clock!)*/
    margin-left: 200px;
    background-color: #FEF6C2;
}
footer { background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}
/*Terse way to state the identical CSS rules for 7 descendents*/
/*Yes, every ```main``` is needed or else none of {h2, h3, h4, p, div, ul, dl} in <main> will work*/
main h2, main h3, main h4, main p, main div, main ul, main dl { 
    padding-left: 3em;
    padding-right: 2em;
}
img { padding-left: 10px;
    padding-right: 10px;
}
/*Table Rules*/
table { margin: auto; /*from ```align``` property in Table 8.4/Sect 8.5*/
    width: 90%; /*also in Table 9.4/Sect 8.5*/
    border-spacing: 0;
    background-color: #FCEBB6; /*Chose the same as body background color*/
} /*Again, book doesn't specify hex value for background color for some reason...*/
td, th { padding: 10px;}
tr:nth-of-type(odd) { background-color: #D2B48E; } /*Make odd rows have a different color*/
/*Form rules (not class or id selectors)*/
form { padding: 2em; }
label { float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}
input, textarea { display: block;
    margin-bottom: 1em;
}
/*Audio rules, for playing sound files*/
audio { display: block;
    margin-top: 1em;
}
/*Classes*/
.details { padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
.floatleft{ float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
/*Id Selectors*/
#heroroad { background-image: url(heroroad.jpg);
    background-size: 100%;
    height: 250px; /* Never mind, it looks a bit better when tablet support is enabled */
    background-repeat: no-repeat; /*make sure background doesn't repeat*/
}
#heromugs { background-image: url(heromugs.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}
#heroguitar { background-image: url(heroguitar.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}
#herojobs { height: 250px;
    background-image: url(herojobs.jpg);
    background-size:100% 100%; /*width & height; otherwise width and auto height*/
}
#wrapper { width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px #221814;
}
/*id selectors for forms*/
#mySubmit { margin-left: 9.5em; }
/*These 2 rules "show" a ```desktop``` id for tablet/desktop & hides the ```mobile``` id*/
#mobile { display: none; }
#desktop { display: inline; }
/*This media section is for tablet displays*/
@media only screen and (max-width: 1024px) {
    body { margin: 0;
        background-image: none;
    }
    header { border-bottom: 5px solid #FEF6C2; }
    h1 { margin-top: 0;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 2.5em;
    }
    nav { float: none;
        width: auto;
        padding-top: 0;
        margin: 10px;
        font-size: 1.3em;
    }
    nav li { display: inline-block; }
    nav a { padding: 1em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }
    nav ul { padding: 0;
        margin: 0;
    }
    main { margin: 0;
        font-size: 90%;
    }
    /*These are id selectors for tablet display*/
    #heroroad, #heromugs, #heroguitar { margin: 0;
        padding: 0;
    }
    #wrapper { width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}
/*This media section is for smartphone display*/
@media only screen and (max-width: 768px) {
    header { background-image: url(javajammini.jpg);
        height: 128px;
    }
    h1 { font-size: 2em;
        text-align: center;
        padding-left: 0;
    }
    h2 { padding: 0.5em 0 0 0.5em; /*top, right, bottom, left*/
        margin-right: 0.5em;
    }
    nav { margin: 0; }
    nav a { display: block;
        padding: 0.2em;
        width: auto;
        border-bottom: 1px solid #FEF6C2; /*Chose solid, b/c book didn't specify border style*/
    }
    nav li { display: block; }
    main { padding-top: 1px; }
    /*Classes for smartphone display*/
    .details { padding-left: 0;
        padding-right: 0;
    }
    .floatleft { padding-left: 0.5em;
        padding-right: 0.5em;
    }
    /*Id selectors for smartphone display, to hide hero images*/
    #heroroad, #heromugs, #heroguitar, #herojobs { background-image: none;
        height: auto;
    } /*Might as well throw in #herojobs in here, too*/
    /*#herojobs { display: none; }*/ /*hides the Jobs page in mobile view*/ /*Not necessary, if I hide #herojobs in mobile above*/
    /*Conversely, these 2 rules "show" ```mobile``` id in mobile mode, otherwise hide for tablet/desktop*/
    #mobile { display: inline; }
    #desktop { display: none; }
}
